body {
    font-family: 'Poppins', sans-serif;
}


li:hover {
    background-color: lightgrey;
}


a {
    color: rgb(150, 109, 109);
}
a:hover {
    background-color: lavenderblush;        
    border-radius: 10%;
}
